<h2 align="center">Signup</h2>
<div>


    <label for="Name">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Name..">

    <label for="Phonenumber">Phonenumber</label>
    <input type="text" id="lname" name="lastname" placeholder="Phonenumber..">
    <label for="email">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Email..">
    <label for="password">Password</label>
    <input type="text" id="lname" name="lastname" placeholder="password..">
    <label for="school">School</label>
    <input type="text" id="lname" name="lastname" placeholder="School..">

    <input type="button" value="Signup" id="signup" routerLink="/instruction">
</div>