.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin-left: 17%;
    margin-right: 17%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid {
    padding: 10% 4% 6% 4% !important;
    cursor: pointer;
    margin-top: -681px;
}

.dashboardimg {
    width: 100%;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 11px 17px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-left: 93%;
    margin-top: -69%;
    top: 1%;
}