<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div>
    <img src="../../assets/instructionimg.png" class="instructionimg">


    <div class="w3-panel w3-card">
        <h2 align="center">Instruction</h2>
        <ul>
            <li>Make sure you have a good internet connection</li>
            <li>Do not resize (minimize) the browser during the test</li>
            <li>Never click the back button on the browser</li>
        </ul>
        <button (click)="taketest()" routerLink="/dashboard" class="starttest">Start Test</button>



    </div>
</div>